@model IEnumerable<GrassForLess.Models.Send>

@foreach (var item in Model)
{
    <div class="card" id="card">
        <div class="card-body">
            <p class="card-text">@item.Text</p>
        </div>
    </div>
}